.GetStarted {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  padding: 120px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GetStartedImage {
  background-image: url("../../assets/hero-carousel-1.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 45%;
  height: 40vh;
  margin-bottom: 40px;
  animation: move 2s ease-in-out infinite alternate-reverse both;
}

.GetStarted h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #485664;
  height: fit-content;
  text-align: center;
}

.GetStarted span {
  color: #0ea2bd;
}

.GetStarted button {
  font-size: 1.1rem;
  font-weight: 400;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  border: none;
  outline: none;
  background-color: #0ea2bd;
  color: white;
  font-family: "Poppins", "sans-serif";
  cursor: pointer;
}

@keyframes move {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 800px) {
  .GetStartedImage {
    width: 52vw;
    height: 25vh;
  }

  .GetStarted h1 {
    font-size: 2.5rem;
    height: fit-content;
    text-align: center;
    padding: 0 10px;
  }
}

@media screen and (max-width: 650px) {
  .GetStartedImage {
    width: 65vw;
    height: 20vh;
  }

  .GetStarted h1 {
    font-size: 2rem;
    height: fit-content;
    text-align: center;
    padding: 0 10px;
  }
}
