.NavBar {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1rem 0rem;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 4rem;
  height: 4rem;
  background-image: url("../../assets/nitlogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 0 0 1rem;
}

.centerNavigation {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.centerNavigation li {
  width: fit-content;
  font-size: 1.1rem;
  color: rgba(58, 71, 83, 0.7);
  padding: 0 5px;
  margin-right: 2rem;
  cursor: pointer;
  overflow: hidden;
}

.faq {
  background-color: #0ea2bd;
  color: white;
  font-size: 1.1rem;
  margin: 0 1rem 0 0;
  width: 4rem;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger-icon {
  background-image: url("../../assets/hamburger.png");
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  cursor: pointer;
}

.NavEnding {
  display: flex;
  align-items: center;
}

.NavBarMobile {
  display: none;
}

@media screen and (max-width: 760px) {
  .centerNavigation {
    display: none;
  }

  .hamburger-icon {
    display: inline-block;
  }

  .NavEnding {
    padding-right: 1rem;
  }

  .NavBarMobile {
    width: 90vw;
    opacity: 0.8;
    height: 100vh;
    background-color: rgba(72, 86, 100, 0.98);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .NavMenuItem {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 3rem;
  }

  .NavMenuItem li {
    width: 80%;
    font-size: 1.2rem;
    color: white;
    padding: 20px 30px;
  }
}
